@import '../../styles.scss';

.menu {
  height: 100vh;
  width: 80%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: -80%;
  background-color: $white;
  transition: left 500ms;

  &.menu-is-visible {
    left: 0;
  }
}