@import '../../styles.scss';

.datalist {
  position: relative;
  width: 100%;
  bottom: 12px;

  .datalist-item {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    width: 100%;
    border: $green solid 1px;

    &:last-of-type {
      border-bottom: $green solid 1px;
    }

    .datalist-item-button {
      position: relative;
      z-index: 10;
      text-align: left;
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: $white;
      padding: 12px;
      border: none;
      font-size: 16px;
      outline: none;

      span {
        font-weight: $bold;
        display: inline-flex;

        &:last-of-type {
          font-weight: $normal;
        }
      }
    }
  }
}