body {
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  display: table;
}

.table-header {
  font-weight: bold;
}

.row-container {
  display: table-row;

  .image {
    width: 24px;
    height: 24px;
  }
}

.row-section {
  display: table-row;
}

.cell {
  padding: 2px 5px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;

  &:nth-of-type(2) {
    text-align: left;
  }

  &:nth-of-type(3) {
    padding-right: 15px;
  }
}