// Color
$green: #006462;
$dark-green: #003635;
$blue: #0087BA;
$dark-blue: #004964;
$light-blue: #CBE9F5;
$yellow: #F7CE00;
$dark-yellow: #887100;
$light-yellow: #f5eec6;
$red: #B10000;
$light-red: #F6C3C3;
$dark-red: #360000;
$white: #FFF;
$grey: #EEE;
$dark-grey: #AAA;

// fonts

$normal: 400;
$bold: 700;

body {
  #root {
    // height: 100vh;

  }

  padding: 0;
  margin: 0;
  // background: rgb(2, 110, 125);
  // background: linear-gradient(180deg, rgba(2, 110, 125, 1) 0%, rgba(14, 196, 186, 1) 50%, rgba(91, 255, 230, 1) 75%, rgba(93, 255, 222, 1) 100%);

  // background: rgb(227, 13, 0);
  // background: linear-gradient(180deg, rgba(227, 13, 0, 1) 0%, rgba(242, 87, 19, 1) 25%, rgba(255, 121, 0, 1) 51%, rgba(255, 172, 32, 1) 76%, rgba(254, 224, 6, 1) 100%);

  // background: rgb(247, 8, 11);
  // background: linear-gradient(180deg, rgba(247, 8, 11, 1) 0%, rgba(252, 11, 70, 1) 25%, rgba(255, 32, 109, 1) 76%, rgba(254, 6, 130, 1) 100%);

  // background: rgb(250, 111, 0);
  // background: linear-gradient(180deg, rgba(250, 111, 0, 1) 0%, rgba(255, 117, 0, 1) 25%, rgba(255, 162, 4, 1) 76%, rgba(254, 182, 6, 1) 100%);

  // background: rgb(250, 60, 0);
  // background: linear-gradient(180deg, rgba(250, 60, 0, 1) 0%, rgba(255, 104, 0, 1) 25%, rgba(255, 162, 4, 1) 76%, rgba(254, 182, 6, 1) 100%);

  // background: rgb(246, 71, 71);
  // background: linear-gradient(180deg, rgba(246, 71, 71, 1) 0%, rgba(255, 105, 52, 1) 25%, rgba(249, 154, 68, 1) 76%, rgba(255, 177, 54, 1) 100%);

  //background: rgb(0, 96, 20);
  //background: linear-gradient(180deg, rgba(0, 96, 20, 1) 0%, rgba(12, 119, 67, 1) 25%, rgba(52, 157, 148, 1) 75%, rgba(0, 207, 206, 1) 100%);

  // background: rgb(0, 131, 56);
  // background: linear-gradient(180deg, rgba(0, 131, 56, 1) 0%, rgba(0, 143, 73, 1) 25%, rgba(52, 157, 148, 1) 75%, rgba(0, 207, 206, 1) 100%);

  // background: rgb(0, 112, 48);
  // background: linear-gradient(180deg, rgba(0, 112, 48, 1) 0%, rgba(0, 125, 64, 1) 25%, rgba(52, 157, 148, 1) 75%, rgba(0, 207, 206, 1) 100%);

  // background: rgb(0, 101, 55);
  // background: linear-gradient(180deg, rgba(0, 101, 55, 1) 0%, rgba(10, 125, 69, 1) 25%, rgba(52, 157, 148, 1) 75%, rgba(0, 207, 206, 1) 100%);

  // Use for later vocapp
  // background: rgb(1, 87, 51);
  // background: linear-gradient(180deg, rgba(1, 87, 51, 1) 0%, rgba(0, 119, 81, 1) 25%, rgba(52, 157, 148, 1) 75%, rgba(0, 207, 206, 1) 100%);

  // background-color: $green;

  background: linear-gradient(180deg, rgba(22, 9, 82, 1) 0%, rgba(34, 2, 103, 1) 25%, rgba(55, 16, 121, 1) 75%, rgba(63, 19, 122, 1) 100%);

  color: $white;
  font-family: Arial,
  Helvetica,
  sans-serif;

  * {
    box-sizing: border-box;

    &:after,
    &:before {
      box-sizing: border-box;
    }
  }

  ;

  a {
    // color: $white;
    // text-decoration: underline;
  }

  label span {
    // display: none;
  }

  textarea,
  input[type=search],
  input[type=text],
  input[type=email],
  input[type=password] {
    // outline: none;
    // background-color: $green;
    // border: 1px solid $white;
    // border-radius: 8px;
    // padding: 12px;
    // margin: 0 0 16px;
    // font-size: 18px;
    // width: 100%;
    // color: $white;

    &::placeholder {
      color: $white;
    }
  }

  // Removes `x` icon from search input; reference: https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb
  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  button[type=submit] {
    outline: none;
    // color: $green;
    // padding: 12px;
    // border-radius: 8px;
    // margin: 0 0 16px;
    // border: 0;
    // font-size: 18px;
    // width: 100%;
  }

  // .page {
    // display: flex;
    // flex-direction: column;
    // padding: 0 12px;
    // max-width: 664px;
    // margin: 0 auto;
  // }

  .content {
    background-color: $white;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 0 0 8px 0;
    color: $dark-green;
    box-shadow: 0 2px 4px $dark-green;

    h1,
    h3,
    h4,
    h5 {
      text-align: center;
      border-bottom: $grey 1px solid;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 24px;
      padding: 0 0 10px;
      margin: 0 0 8px;
    }

    h3 {
      padding: 0 0 16px;
      margin: 0 0 20px;
    }

    p {
      margin: 0 8px;
    }
  }

  button {
    outline: none;
  }

  .button {
    outline: none;
    // color: $green;
    // padding: 12px;
    // border-radius: 8px;
    // margin: 0 0 8px;
    // border: 1px solid;
    // font-size: 18px;
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // cursor: pointer;

    &.is-disabled {
      opacity: .5;
    }

    &.button-primary {
      color: $green;
      background-color: $white;
    }

    &.button-secondary {
      color: $white;
      background-color: $green;
      border-color: $dark-green;
    }

    &.button-tertiary {
      color: $white;
      background-color: $dark-blue;
    }
  }

  .button-circle {
    outline: none;
    padding: 12px;
    border-radius: 100%;
    border: solid 1px $green;
    cursor: pointer;

    &.is-disabled {
      opacity: .5;
    }

    &.button-circle-primary {
      border-color: $dark-green;
      background-color: $green;
      color: $white;

      path,
      polygon {
        fill: $white;
      }
    }

    &.button-circle-secondary {
      border: solid 1px $green;
      color: $green;
      background-color: transparent;

      path,
      polygon {
        fill: $green;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    >li {
      display: inline-flex;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 32px;
      padding: 0 0 20px;
      margin: 0 0 12px;
    }

    textarea,
    input[type=search],
    input[type=text],
    input[type=email],
    input[type=password] {
      font-size: 16px;
    }

    .content {
      margin: 0 0 16px 0;
      padding: 24px 16px;
    }
  }
}